#user-edit.container
  = link_to @user do
    %i.fa.fa-arrow-circle-left.fa-lg= " Back to Profile"
  %h1#account-info-header Account Information

  = bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", method: :patch, :html => {:multipart => true}) do |f|
    .form-group
      %label.control-label.col-sm-2.col-xs-12(for="user_avatar")Upload your photo
      .col-sm-6.col-xs-6
        = image_tag @user.avatar_url, size: "130x130", id: "user-avatar"
        %input.form-control#user_avatar(name="user[avatar]" type="file")
        = link_to user_path(@user, remove_avatar: true), method: :patch, data: { confirm: "Are you sure you want to delete your profile picture?" } do
          %i.fa.fa-times= "  Remove photo"
    = f.text_field :name
    = f.text_field :username
    = f.email_field :email
    = f.text_field :location, name: "user[location]", class: "ff_elem", id: "f_elem_city", label: "Location (Optional)"
    .form-group
      %label.control-label.col-sm-2.col-xs-12(for="link_github")Link Github (Optional)
      .col-sm-6.col-xs-6
        - if current_user.has_linked_github?
          = link_to "Unlink Your Github Account", user_unlink_github_path(@user), method: :delete, class: "btn btn-danger"
        - else
          = link_to "Link Your Github Account", new_user_authorization_path(@user), class: "btn btn-info"

    = f.text_area :bio, label: "About you (Optional)", rows: "5", help: "Maximum 160 characters"
    = f.form_group do
      = f.submit "Update Profile", class: "btn btn-primary"

