#user-show.container-fluid
  #user-top-content.row
    #basic-user-info.col-sm-9
      .row
        #user-image-container.col-sm-4
          = image_tag @user.avatar_url, id: "user-image"
        #user-info.col-sm-8
          %h2.name= @user.name
          %h4.username= @user.username
          - if @user.location.present?
            %i.fa.fa-map-marker.location.text-muted= " #{@user.location}"
          %p.bio= @user.bio
          - if logged_in? && current_user.can_edit?(@user)
            = link_to edit_user_path(@user), id: "user-edit-link" do
              %i.fa.fa-pencil.fa-lg= " Edit Profile"

    #side-nav.col-sm-3
      %ul.nav.nav-pills.nav-stacked{:role => "tablist"}
        %li.active
          %a.tab-item{"data-toggle" => "tab", :href => "#projects", :role => "tab"} Projects
        %li
          %a.tab-item{"data-toggle" => "tab", :href => "#github", :role => "tab"} Github
        - if logged_in? && current_user.can_edit?(@user)
          %li
            = link_to "Edit Profile", edit_user_path(@user), class: "tab-item"
        - if logged_in? && current_user.can_edit?(@user)
          %li
            = link_to "Reset Password", user_password_resets_path(@user), class: "tab-item"

  .tab-content.col-sm-12
    #projects.tab-pane.fade.in.active.container-fluid
      %h2#project-header My Projects
      .row
        #masonry-container
          - @user.projects.each do |project|
            .item
              .thumbnail
                #image-container
                  = link_to project, nil do
                    = image_tag project.image.url
                .caption
                  = link_to project, nil do
                    %h3#project-title= project.title
                  %p#project-subtitle= project.subtitle

                = render "shared/thumbs_up", project: project

          - if logged_in? && current_user.can_edit?(@user)
            - unless current_user.has_no_projects?
              #project-add-container.item
                = render "add_project_button", user: @user, style: nil
            - else
              %li.col-xs-12#project-add-container
                = render "add_project_button", user: @user, style: "margin-top: -10%"

    #github.tab-pane.fade.container-fluid
      = render "github", user: @user, repositories: @repositories, user_github: @user_github