#user-show.container-fluid
  #user-top-content.row
    #basic-user-info.col-sm-9
      .row
        #user-image-container.col-sm-4
          = image_tag @user.avatar_url, id: "user-image"
        #user-info.col-sm-8
          %h2.name= @user.name
          %h4.username= @user.username
          %p.location= @user.location
          %p.bio= @user.bio
          - if logged_in? && current_user.can_edit?(@user)
            = link_to edit_user_path(@user), id: "user-edit-link" do
              %i.fa.fa-pencil.fa-lg= " Edit Profile"

    #side-nav.col-sm-3
      %ul.nav.nav-pills.nav-stacked{:role => "tablist"}
        %li.active
          %a.tab-item{"data-toggle" => "tab", :href => "#projects", :role => "tab"} Projects
        %li
          %a.tab-item{"data-toggle" => "tab", :href => "#github", :role => "tab"} Github
        - if logged_in? && current_user.can_edit?(@user)
          %li
            = link_to "Edit Profile", edit_user_path(@user), class: "tab-item"
        %li
          = link_to "Reset Password", "#", class: "tab-item"

  .tab-content.col-sm-12
    #projects.tab-pane.fade.in.active.container-fluid
      %h2#project-header My Projects
      .row
        - @user.projects.each do |project|
          %li.col-sm-6.col-md-4
            .thumbnail
              = link_to project, nil do
                = image_tag "http://lorempixel.com/430/300" # TODO: change to project.image.url
              .caption
                = link_to project, nil do
                  %h3#project-title= project.title
                %p#project-subtitle= project.subtitle
              = link_to "#", nil do
                %i.fa.fa-thumbs-o-up{"data-toggle" => "tooltip", "data-placement" => "left", "title" => "Click to Vote!!"}= " 22"

        - if logged_in? && current_user.can_edit?(@user)
          - unless current_user.has_no_projects?
            %li.col-sm-6.col-md-4#project-add-container
              = render "add_project_button", user: @user, style: nil
          - else
            %li.col-xs-12#project-add-container
              = render "add_project_button", user: @user, style: "margin-top: -10%"

    #github.tab-pane.fade.container-fluid
      = render "github", user: @user, repositories: @repositories, user_github: @user_github