= bootstrap_form_for(user, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", remote: true) do |f|
  = f.text_field :name, value: ""
  = f.text_field :username, value: ""
  = f.email_field :email, value: ""
  = f.password_field :password, help: "Must be at least 6 characters long", value: ""
  = f.form_group do
    = f.submit "Sign Up", class: "btn btn-primary"
    - if modal
      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close