%h1#new-project-header= project.new_record? ? "Create A New Project" : "Update Your Project"
#form-guide.clearfix
  %p 
    %strong Creating or updating a project involves three steps:
  %ol 
    %li Fill out the <span class="italic">Basic Info</span> where all fields are mandatory. 
    %li Optionally fill out the <span class="italic">Detailed Info</span>. You may add <span class="text-danger bold">up to 5 fields ONLY<span/>.
    %li Optionally upload a cover image and add tags relevant to your website.
    %li <span class="text-danger bold">NOTE:</span> The "Main description" under <span class="italic">Basic Info</span> and the "Content" fields under <span class="italic">Detailed Info</span> supports <span class="bold">Markdown</span> syntax. <span><a class="guide-link" data-toggle="modal" data-target="#markdownHelp">Click here for a quick guide.</a></span>

    #markdownHelp.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "markdownHelpLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            %h4#markdownHelpLabel.modal-title Markdown Syntax Reference Sheet
          .modal-body
            = image_tag "https://s3-us-west-1.amazonaws.com/portoshare/images/markdown-help-original.png", class: "markdown-help-image"
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

= bootstrap_form_for(setup(project), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", html: { multipart: true }) do |f|
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active#basic-info-tab
      %a{"data-toggle" => "tab", :href => "#basic-info", :role => "tab"} Basic Info
    %li#detailed-info-tab
      %a{"data-toggle" => "tab", :href => "#detailed-info", :role => "tab"} Detailed Info
    %li#upload-photo-tab
      %a{"data-toggle" => "tab", :href => "#upload-photo", :role => "tab"} Cover Image and Tags 

  .tab-content
    #basic-info.tab-pane.active
      %h3 Basic Info (Mandatory)
      = f.text_field :title, placeholder: "ex: PortoShare"
      = f.text_field :subtitle, placeholder: "ex: A website for creating and sharing your web portfolio"
      = f.text_field :url, label: "Website URL", placeholder: 'ex: http://portoshare.com (must start with "http:// "or "https://")'
      = f.text_area :main_description, label: "Main Description", rows: "8", placeholder: "Give a brief overview of your project", help: "Maximum 800 characters"
      = f.form_group do 
        = link_to "#detailed-info", class: "btn btn-primary", id: "continue-button", data: { toggle: "tab" } do
          %span Next Page
          %i.fa.fa-long-arrow-right

    #detailed-info.tab-pane
      %h3 Detailed Info (Optional)
      #project_details
        = f.hidden_field :errors, data: { error: @project.errors.messages[:project_detail_attributes].present? }, value: ""
        = f.fields_for(:project_details) do |project_detail|
          = render 'project_detail_fields', f: project_detail
        .links.form-group
          = link_to_add_association f, :project_details do
            %i.fa.fa-plus-circle.fa-lg= " Add Field"
        = link_to "#basic-info", class: "btn btn-default", id: "previous-button", data: { toggle: "tab" } do
          %i.fa.fa-long-arrow-left
          %span Previous Page
        = link_to "#upload-photo", class: "btn btn-primary", id: "second-continue-button", data: { toggle: "tab" } do
          %span Next Page
          %i.fa.fa-long-arrow-right

    #upload-photo.tab-pane
      %h3 Cover Image and Tags (Optional)
      .form-group
        %label.control-label.col-sm-2.col-xs-12(for="cover_image")Upload Cover Image
        .col-sm-6.col-xs-6
          = image_tag project.image_url, size: "160x120", id: "project-image"
          %input.form-control#cover_image(name="project[image]" type="file")
          = f.hidden_field :image_cache
    
      = f.text_field :tag_list, label: "Tags", placeholder: "ex: food, blog, ruby-on-rails", help: raw("Note: You may add <span class='text-danger bold'>up to 5 tags only.</span> Please do not make duplicate tags."), data: {load: project.tag_list_items}

      = link_to "#detailed-info", class: "btn btn-default", id: "second-previous-button", data: { toggle: "tab" } do
        %i.fa.fa-long-arrow-left
        %span Previous Page
      = f.submit(@project.new_record? ? "Create Project" : "Update Project", class: "btn btn-primary")
