%h1#new-project-header Create A New Project
#form-guide.clearfix
  %p 
    %strong Creating a new project involves two steps:
  %ol 
    %li Fill out the "Basic Info" where all fields are mandatory. 
    %li Optionally fill out the "Detailed Info". This section is meant for you to share any detailed information regarding your application. You may add <span class="text-danger">up to 5 fields ONLY<span/>.

= bootstrap_form_for(setup(project), layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#basic-info", :role => "tab"} Basic Info
    %li
      %a{"data-toggle" => "tab", :href => "#detailed-info", :role => "tab"} Detailed Info
  .tab-content
    #basic-info.tab-pane.active
      %h3 Basic Info (Mandatory)
      = f.text_field :title, placeholder: "ex: PortoShare"
      = f.text_field :subtitle, placeholder: "ex: A website for creating and sharing your web portfolio"
      = f.url_field :url, label: "Website URL", placeholder: 'ex: http://portoshare.com (must start with "http:// "or "https://")'
      = f.text_area :main_description, rows: "8", placeholder: "Give a brief overview of your project", help: "Maximum 480 characters"
      = f.form_group do 
        = link_to "#detailed-info", class: "btn btn-primary", id: "continue-button", data: { toggle: "tab" } do
          %i.fa.fa-long-arrow-right
          %span Next Page

    #detailed-info.tab-pane
      %h3 Detailed Info (Optional)
      #project_details
        = f.fields_for(:project_details) do |project_detail|
          = render 'project_detail_fields', f: project_detail
        .links.form-group
          = link_to_add_association f, :project_details do
            %i.fa.fa-plus-circle.fa-lg= " Add Field"

        = link_to "#basic-info", class: "btn btn-default", id: "previous-button", data: { toggle: "tab" } do
          %i.fa.fa-long-arrow-left
          %span Previous Page
        = f.submit "Create Project", class: "btn btn-primary"