.project
  .row.project-container
    .thumbnail.col-sm-2.col-xs-2
      = link_to project, nil do
        = image_tag project.image_url
      .caption
        %p.creator= link_to project.user.username, project.user
        %p.created-at.text-muted= format_time(project.updated_at)

    .col-sm-10.main-content.col-xs-10
      .top-header.clearfix    
        = link_to project.user, nil do
          = image_tag project.user_avatar.thumb.url, class: "user-avatar"
        .header-and-url
          %h2.project-header= link_to project.title, project
          %p.url= link_to project.url, project.url
      %h3.project-subheader= project.subtitle
      %p.main-description= markdown(project.main_description)

    = render "shared/thumbs_up", project: project
      
    - if project.tags.any?
      .tag-container
        %i.fa.fa-tags.fa-lg
        %span.tag= display_tags(project)

