#project-show.container-fluid
  #bulletin-board-wrapper
    #bulletin-board-content
      #title-container
        %h1#project-title= @project.title
        %h4#project-subtitle= @project.subtitle
        %h6#project-created-at
          #{@project.created_at} by 
          %span
            = link_to @project.user.name, @project.user, class: "hello"
        %i.fa.fa-tags.fa-lg
        %span.tag
          = link_to "hello"
          %span ,
        %span.tag
          = link_to "another"
          %span ,
        %span.tag
          = link_to "another tag"
          %span ,
        %span.tag
          = link_to "yes"

      #project-basic-info.row
        .col-sm-6
          = image_tag "http://lorempixel.com/600/400", id: "project-image"
        .col-sm-6
          %h3 Project Description
          %p#project-main-description= @project.main_description

    #project-more-info.row
      - @project.project_details.each do |project_detail|
        .col-xs-6.col-sm-4
          = image_tag "/tmp/postit-yellow-380.png", class: "postit"
          .text-container
            %h4.more-info-header= project_detail.header
            %p.more-info-description= project_detail.content