!!! 5
%html(lang="en-US")
  %head
    %title PortoShare - portfolio sharing to showcase your web apps
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(href="http://fonts.googleapis.com/css?family=Lobster" type="text/css")

    // for user location autofill 
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", :type => "text/javascript"}
    %link{:href => "http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}

    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head

  %body(data-spy="scroll" data-target="#front-nav")
    %header.clearfix
      = render 'shared/header'
    %section.clearfix
      = render 'shared/messages'
      = yield

      / Sign up form will display as a Bootstrap modal
      #sign-up-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "sign-up-modal", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
              %h4#sign-up-modal.modal-title Sign Up Form
            .modal-body
              = render "shared/signup_form", user: @user ||= User.new, modal: true

      / Log in form will display as a Bootstrap modal
      #log-in-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "sign-up-modal", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
                %span.sr-only Close
              %h4#log-in-modal.modal-title Log In Form
            .modal-body
              = render "shared/login_form", modal: true


              